<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'users', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="top-wrapper">
        <img src="/snoopy.png">
    </div>
    <div class="data">
        <p>はるやま</p>
    </div>
    <div class="sum">
        <div class="sum-display">
            <p>今月の節約</p>
            <h2>3045円</h2>
            <h6>目標まであと450円です</h6>
        </div>
    </div>
    <div class="sum">
        <div class="sum-display">
            <p>今月の節約</p>
            <h2>グラフ</h2>
            <h6>目標まであと450円です</h6>
        </div>
    </div>
</body>
</html>