<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tops', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="top-wrapper">
        <h2>おいしく節約、あったかく</h2>
        <p>自炊で暮らしをかしこく豊かにしませんか？</p>
    </div>
</body>
</html>